.hide {
    display: none;
}

#main {
    width: 98%;
}

#main h1.page-header {
    margin-top: 15px;
}
#left-side {
    width: 300px;
}
.group-block {
    margin-bottom: 30px;
}

#new-chart-form div.panel {
    padding: 15px;
}

.chart-item {
    width: 335px;
    float: left;
    margin-left: 20px;
}

.chart-item .caption h4 {
    margin-top: 5px;
}
.chart-controls .dt-container {
    padding-left: 0;
}